@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  margin: 0;
  font-family: "Roboto Mono", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1240px;
  margin: auto;
}

.btn {
  color: #fff;
  padding: 12px 24px;
  background-image: linear-gradient(45deg, #5651e5 0%, #709dff 100%);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: 0.4s;
  cursor: pointer;
}

.btn:active {
  transform: translate(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

@media screen and (max-width: 1050px){
  .container{
      padding-inline: 12vw;
  }
}