.navbar {
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    background-color: #cac7c7;
    border-bottom: 1px solid #eee;
    position: fixed ;
    box-shadow: 0px 1px 6px 1px #bcb5b5;
    z-index: 900;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;

    
  }
  a{
    text-decoration: none;
  }
  .navbar .search_container {
    color: inherit;
    position: relative;
    padding: 0px 46px 0px 0px;
    margin-left: 0px;
    margin-right: 60px;
    background-color: alpha(white, 0.15);
    border-radius: 5px;
  }
  .search_container:hover {
    background-color: alpha(white, 0.25);
  }
  
  .navbar .search_form {
    color: inherit;
    position: relative;
    display: flex;
    align-items: center;
    padding: 1 1 1 0;
    flex-direction: row;
    margin-left: 0;
    width: 100%;
  }  
  
  .navbar span {
    color: #352efa;
    display: flex;
    padding: 0px;
    width: 305px;
	}
  .navbar h1 {  
    font-size: 27px;
    padding: 1px;
    width: 305px;
    margin: 0px 0px 0px 8px;
	}
  
  .navbar .nav-menu {
    display: flex;
  }
  
  .navbar li {
    padding: 1rem;
  }
  
  .hamburger {
    display: none;
  }
  
  .navbar .icon {
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    color: #5651e5;
    
  }

  .navbar .img {
    height: 40px;
    width: 40px;
    margin: 0px;
    justify-content: center;
    align-items: center;
}
  .navbar .nav-links a{
    margin-left: 1em;
    color: #5651e5;
    letter-spacing: 4px;
    text-transform: uppercase;
    position: relative;
    font-size: 14px;
  
  }
  .navbar .nav-links a.active{
    color: #5651e5;
    font-weight: bold;
  }

  .navbar .nav-links a:hover{
    border-bottom: 2px solid #5651e5;
    transition: margin-right .2s ease-in-out;
  }

  .navbar .nav-links a::before{
    content:'';
    display: inline-block;
    height: 3px;
    width: 100%;
    background-color: #5651e5;
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);    
  }
  
  .navbar .nav_links a:hover::before
  {
    transform: scaleX(1);
    
  }
    
  @media screen and (max-width: 940px) {
    .hamburger {
      display: block;
    }
  
    .navbar .nav-menu {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 90px;
      right: -100%;
      height: 100%;
      width: 100%;
      background: rgba(255, 255, 255, 0.98);
      transition: 0.4s ease-in-out;
      z-index: 10;
    }
  
    .navbar .active {
      right: 0;
    }
  
    .navbar .nav-menu li a {
      font-size: 2rem;
    }
  }
  
  .search_box {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    border-radius: 6px;
    margin-left: 6px;
    width: 50%;
    background-color: white;
  }
  .search_input {
    color: inherit;
    border: 0;
    background-color: transparent;
  }

  
  