.footer {
    width: 100%;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    position:fixed;
    justify-content: space-between;
    bottom: 0;
    height: 1rem;
    padding-left: 50%; /*Temporary*/
    margin: auto;
  }
  